################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroRabbit
MicroRabbit.Domain.Core/bin/
MicroRabbit.Domain.Core/obj/
MicroRabbit.Infra.Bus/bin/
MicroRabbit.Infra.Bus/obj/
MicroRabbit.Infra.IoC/bin/
MicroRabbit.Infra.IoC/obj/
MicroRabbit.Banking.Api/bin/
MicroRabbit.Banking.Api/obj/
MicroRabbit.Banking.Application/bin/
MicroRabbit.Banking.Application/obj/
MicroRabbit.Banking.Data/bin/
MicroRabbit.Banking.Data/obj/
MicroRabbit.Banking.Domain/bin/
MicroRabbit.Banking.Domain/obj/
MicroRabbit.Banking.Api/MicroRabbit.Banking.Api.csproj.user
MicroRabbit.Transfer.Api/bin/
MicroRabbit.Transfer.Api/obj/
MicroRabbit.Transfer.Application/bin/
MicroRabbit.Transfer.Application/obj/
MicroRabbit.Transfer.Data/bin/
MicroRabbit.Transfer.Data/obj/
MicroRabbit.Transfer.Domain/bin/
MicroRabbit.Transfer.Domain/obj/
