################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroRabbit
MicroRabbit.Domain.Core/bin/
MicroRabbit.Domain.Core/obj/
MicroRabbit.Infra.Bus/bin/
MicroRabbit.Infra.Bus/obj/
